.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 100px 2fr;
  height: 100vh;
  width: 100%;
}
.Nav {
  grid-column: 1/4;
  grid-row: 1/2;
}
.Post {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.left {
  grid-column: 1/2;
  grid-row: 2/3;
}
.right {
  grid-column: 3/4;
  grid-row: 2/3;
}
