@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 4rem 2fr;
  height: 97vh;
  
}
.Nav {
  grid-column: 1/4;
  grid-row: 1/2;
  width: 100%;
  margin: 0 auto;
  
}
.Post {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

   div {
    width: 100%;
    @include flex-center;
    margin-top: 5px;
    padding-bottom: 20px;
  }
}
.Left{
  grid-column: 1/2;
  grid-row: 2/3;
  
}
.right {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  max-width: 100%;
  
}

.Post::-webkit-scrollbar {
  width: 7px;
}
.Post::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.Post::-webkit-scrollbar-thumb {
  background-color: rgb(34, 37, 32);
  outline: 0.2px rgb(49, 61, 73);
}
