$backGround: #073b3a;

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $backGround;
  border-radius: 15px;
  align-items: center;
  margin-top: -5px;
  width: 100%;
  transition: 0.3s;

  .leftside {
    .input {
      background-color: $backGround;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      font-family: "Style Script", cursive;
      font-size: 30px;
      color: white;
    }
  }
  button {
    display: none;
  }

  .search {
    border-style: none;
    padding: 5px;
    border-style: none;
    border-radius: 10px;
    cursor: text;
    outline: none;
    background: #0c706f;
    width: 40%;
    color: white;
&:focus{
  background: white;
  color: black;
}
  &::placeholder {
    color: white;
  }
  }
  ul {
    display: flex;
    flex-direction: row;
    li {
      list-style: none;
      margin-right: 10px;
      cursor: pointer;
      color: white;
    }
  }
}

.nav:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media (max-width: 438px) {
  .nav {
    width: fit-content;
  }
}
