form {
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-radius: 15px;
  background-color: none;

  textarea {
    width: 400px;
    height: 100px;
    outline: none;
    resize: none;
  }
  label {
    text-align: center;
  }
  .file {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
}
