.div{
    background: #5DA3FA ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: auto;
    Button{
        margin-bottom:30px ;
    }
}